<html layout:decorate="~{todos/layout}">

<body>
    <div class="container" layout:fragment="content">
        <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-lg-7">
                <div class="mb-3">
                    <span class="text-700">Todo一覧</span>
                </div>
                <h3>Todo一覧</h3>
                <p th:if="${#lists.isEmpty(todos)}">Todoが存在しません。</p>
                <ul class="list-group">
                    <li class="list-group-item" th:each="todo : ${todos}">
                        <a href="{% url 'questionnaire:answer_create' questionnaire.questionnaire_id %}" class="d-flex w-100 justify-content-between">
                            <span th:text="${todo.todo}">todo</span>
                            <small class="align-self-end">最終更新:<span th:text="${#temporals.format(todo.updatedAt, 'yyyy年MM月dd日 HH時mm分')}"></span></small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>